*.md
CHANGELOG
api
crds
docs
enabled
hooks
hack
images
images_digests.json
known_vulnerabilities.vex
lib
Makefile
module.yaml
monitoring_test
openapi
release.yaml
scripts
template_tests
testing
tools
werf*.yaml
e2e
pkg
snapshot-rework
.git
.github
.claude
.gitignore
.cursor
.werf
.golangci.yaml
.dmtlint.yaml
go-lint.sh
test-smoke.sh
test-cleanup.sh
